USE [SessionTwoDb]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/21/2021 10:06:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](128) NOT NULL,
	[IsMale] [bit] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([Id], [IsMale], [FirstName], [LastName], [Active]) VALUES (N'007405bc-df47-43bb-a121-af68f4df039d', 1, N'علی', N'سالاران', 1)
INSERT [dbo].[Users] ([Id], [IsMale], [FirstName], [LastName], [Active]) VALUES (N'0148dd79-3a61-4bd5-b265-d30d8d28646b', 1, N'احمد', N'تقی نژاد', 1)
INSERT [dbo].[Users] ([Id], [IsMale], [FirstName], [LastName], [Active]) VALUES (N'01615f90-a2a6-4b9c-b497-6eeb92c830cd', 1, N'مهدی', N'رئوف', 1)
GO
